/*FILTERS STYLING*/
div.container {
    max-width: 1000px;
    margin: 30px auto;
}
div.container .filters {
    display: flex;
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1Px solid #DDDDDD;
    border-radius: 4px;
}
/* FILTER BUTTON*/
.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    vertical-align: middle;
    margin: auto;
    margin-right: 30px;
}
.filters button:hover {
    opacity: 0.9;
}
/*AMENITIES AND LOCATION CONTAINERS*/
.locAmen {
    height: 100%;
    width: 25%;
    padding: 0 2em;
}
.locations {
    border-right: 1px solid #DDDDDD;
}
.locAmen h3 {
    font-weight: 600px;
    margin-bottom: 0;
    padding-bottom: .3em;
}
.locAmen h4 {
    font-weight: 400px;
    font-size: 14px;
    margin-top: 0;
}
